@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap|Signika Negative');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
    background-color: white;
    background-image: url("transparentPinkPolkaDots.png");
    background-size: 400px;
}

footer {
    color: #6b023c;
    text-align: center;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

h1 {
    color: #6b023c;
    font-family: "Henny Penny", serif;
    text-align: center;
    font-size: 3em;
    margin: 0.4em;
}

h2 {
    color: white;
    font-family: "Henny Penny", serif;
    text-align: center;
    font-size: 2em;
    margin: 0.4em;
}

h3 {
    color: rgb(255, 201, 228);
    font-family: "Henny Penny", serif;
    text-align: center;
    font-size: 1.5em;
    margin: 0.4em;
}

nav {
    align-items: center;
    background-color:  #6b023c;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
}

nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav > ul > li > a {
    color: #fff;
    font-weight: 700;
    margin: 0 25px;
    text-decoration: none;
}

nav > ul > li > a:hover {
    box-shadow: inset 0 -2px 0 0 #fff;
    font-size: 1.1em;
    padding-bottom: 5px;
}

p > a {
    color: white;
}

p > a:hover {
    color:rgb(255, 154, 205)
}

#popupclose {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(185, 40, 113);
    color: white;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

#popupclose:hover {
    font-weight: bold;
    background-color:rgb(161, 25, 93);
    cursor: pointer;
}

#popupX {
    color: rgb(185, 40, 113);
    font-family: "Ultra", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0;
    display: block;
    text-align: right;
    position: relative;
}

#popupX:hover {
    font-size: 1.6em;
    cursor: pointer;
    color: rgb(161, 25, 93);
}

.background-cover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    display: none;
    width: 120%;
    height: 120%;
    top: -20%;
    left: -20%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-container .page-container {
    margin: 0 1vw;
}

.page-container {
    background-image: linear-gradient(to top, rgb(185, 40, 113), #800147);
    margin: auto 15%;
    padding: 2%;
    border-radius: 10px;
}

.page-container hr {
    margin: 2em 0;
}

.page-container > p {
    color: white;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.page-container ul {
    color: white;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

.page-container ul li {
    padding: 0.5em;
    margin: 0 3vw;
}

.page-container .subtitle {
    color: rgb(255, 201, 228);
    text-align: center;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

.popup {
    position: relative;
    display: flex;
    justify-content: center;
}

.popup .popuptext {
    visibility: hidden;
    background-color: #2e001b;
    color: white;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: fixed;
    z-index: 2;
    border-radius: 5px;
    padding: 8vh;
    margin-top: 6em;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.subtitle {
    color: #6b023c;
    text-align: center;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}