@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap|Signika Negative');

body {
    background-color: white;
    background-image: url("transparentPinkPolkaDots.png");
    background-size: 400px;
}

footer {
    color: #6b023c;
    text-align: center;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

h1 {
    color: #6b023c;
    font-family: "Henny Penny", serif;
    text-align: center;
}

nav {
    align-items: center;
    background-color:  #6b023c;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
}

nav>ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav>ul>li>a {
    color: #fff;
    font-weight: 700;
    margin: 0 25px;
    text-decoration: none;
}

nav>ul>li>a:hover {
    box-shadow: inset 0 -2px 0 0 #fff;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.page-container {
    background-color: rgb(185, 40, 113);
    margin: auto 15%;
    padding: 2%;
}

.page-container>p {
    color: white;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

#contact {
    color: white;
    padding-right: 1%;
}