nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #6b023c;
    margin: auto;
}

nav>ul {
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav>ul>li>a {
    font-weight: 700;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
}

nav>ul>li>a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #fff;
}

footer {
    text-align: center;
}